* {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    text-align: center;
    background: rgb(238, 174, 202);
    background: pink(circle, rgba(238, 174, 202, 1) 0%, rgba(18, 60, 111, 1) 100%);
  }
  div{
    width: 100px;
    height: 250px;
    border: 2px black;
    background: blueviolet;
    margin: 10px;
  }
  
  #caja2{
    text-align: Center;
    background: blueviolet;
    color:blueviolet;
    border: 2px black;
  }